@import '@/assets/styles/_global.scss';

.Login {
  background: $link-water;
  padding: 0 16px;
  min-height: 100vh;
  background: url('../../../assets/images/bg-login.png');
  background-size: cover;
  background-position: center;

  &-header {
    padding: 8px 12px;

    &-language {
      width: 32px;
      height: 32px;

      .Icon {
        width: 14px;
        height: 14px;
      }
    }
  }

  &-logo {
    max-width: 205px;
    margin: 0 auto 16px;

    img {
      width: 100%;
    }
  }

  &-title {
    font-size: 14px;
    color: $limeade;
    padding: 1.20px 0;
    text-align: center;
    border-bottom: 1px solid rgba($black, 0.03);
    margin-bottom: 22px;

    span {
      position: relative;
      padding: 4px 0;
      display: block;
      border-bottom: 2px solid $limeade;
    }
  }

  &-wrapper {
    max-width: 360px;
    width: 100%;
    margin: 40px auto 0;
  }

  &-form {
    .ant-input-affix-wrapper>input.ant-input {
      text-align: center;
    }
  }
}